certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cryptography==36.0.0
docopt==0.4.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
mandrill==1.0.60
MarkupSafe==2.0.1
mysqlclient==2.1.0
pycparser==2.21
requests==2.26.0
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
SQLAlchemy==1.4.27
urllib3==1.26.7
utils==1.0.1
Werkzeug==2.0.2
