<!--using html5 doctype -->
<!doctype html>

<!--using language attribute-->
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        
    </head>

    <body > 

        <div class="container">
            <div class="jumbotron">
                
                <img src="https://wacem2021.urbanedge.co.in/static/images/login/banner_1024_298.jpeg" width="640" >
                <!-- <p style = "font-size: 35px; font-family: 'Times New Roman', Times, serif; text-align: center; color: grey;"> STRAIGHT 2020 - Annual Conference of SPOSI  </p> -->
            </div>


                <p style = "font-size: 25px;"> <b>WACEM21 - Help Desk </b> </p>
                <p style = "font-size: 18px;"> Name : Dr. {{ name }}, 
                    <br/> Email : {{ email}}
                    <br/>Mobile : {{ mobile }}</p>
                <p style = "font-size: 18px;"> Feedback : {{ feedback }} </p>
                
                <br>
           

        </div>
    </body>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- plugin for jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>

