<!--using html5 doctype -->
<!doctype html>

<!--using language attribute-->
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        
    </head>

    <body > 

        <div class="container">
            <div class="jumbotron">
                
                <img src="{{ request.host_url  }}/static/images/landing_page_image.jpg" >
                <!-- <p style = "font-size: 35px; font-family: 'Times New Roman', Times, serif; text-align: center; color: grey;"> STRAIGHT 2020 - Annual Conference of SPOSI  </p> -->
            </div>

            {% if name %}

                <p style = "font-size: 25px;"> <b> Greetings! </b> </p>
                <p style = "font-size: 18px;"> Dear Dr. {{name}}, </p>
                <p style = "font-size: 18px;"> OTP to Login to Virtual conference 2020 is {{otp}} </p>
                <p style = "font-size: 18px;"> The OTP is valid untill {{otp_expiry_date}} {{otp_expiry_time}} {{am_or_pm}} </p>
                <br>

            {% else %}

            <p style = "font-size: 25px;"> <b> Greetings! </b> </p>
            <p style = "font-size: 18px;"> Hi, </p>
            <p style = "font-size: 18px;"> here is your OTP to Login to Virtual conference 2020 is {{otp}} </p>
            <p style = "font-size: 18px;"> The OTP is valid untill {{otp_expiry_date}} {{otp_expiry_time}} {{am_or_pm}} </p>
            <br>

            {% endif %}

        </div>
    </body>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- plugin for jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>

