<!--using html5 doctype -->
<!doctype html>
<!--using language attribute-->
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <style type="text/css">
         HTML body
         {
         background-color: #F8EBFD;
         }
      </style>
   </head>
   <body >
      <div class="container">
         <div class="jumbotron">
            <!-- <img src="{{ request.host_url  }}/static/images/login/tnoa_logo_v1.png" > -->

            <img src="https://wacem2021.urbanedge.co.in/static/images/login/banner_1024_298.jpeg" width="640" >
         </div>
         {% if name %}
         <p style = "font-size: 25px;"> <b> Greetings! </b> </p>
         <p style = "font-size: 18px;"> Dear {{name}}, </p>
         <p style = "font-size: 18px;"> Your new password is {{password}} for WACEM21 Virtual conference .</p>
         <br>
         {% else %}
         <p style = "font-size: 25px;"> <b> Greetings! </b> </p>
         <p style = "font-size: 18px;"> Hi, </p>
         <p style = "font-size: 18px;"> Your new password is {{password}} for WACEM21 Virtual conference .</p>
         <br>
         {% endif %}
      </div>
   </body>
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- plugin for jquery validation -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>