<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
<style type="text/css">
  .error
  {
    color: red;
    font-style: bold;
  }
  #by
  {
    background-image: url('static/images/background/helpdesk_v1.jpg');
    /*margin-top: 368px;*/
/*    background-image: url('helpdesk_v2.jpg');
*/    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0.5;
  }
  .card{
    width:85%;
    margin-left: 7.8%;
    background-color: inherit;

  }
  #help_desk_form
  {
    background-color: transparent !important ;
    -webkit-appearance: none;
  }
    .mb-5, .my-5 {
    /* margin-bottom: 3rem!important; */
}
.form-control{
  position: inherit;
  width: 105%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .2rem;
    /* font-family: inherit; */
    /* font-weight: 500; */
    line-height: 1.0;
    /* color: inherit; */
    margin-bottom: 0.2rem;
}

.feedback
{
      position: fixed;
    top: 58%;
    left: 13.5%;
    width: 57.5%;
}
</style>
   </head>
   <body  id="by" >
      <div class="container mt-2" >
        
         
         <div class="container">
      
    <div class="row justify-content-center ">

            <div class="col-xl-10 col-lg-12 col-md-9">
             {% for mesg in get_flashed_messages() %}
                  <div class="alert alert-success" id="successMessage" style="color: red; text-align: center;">
                        <h6>{{ mesg}} </h6>
                   </div>
            {% endfor %}


 
              
                
                <div class="feedback card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row  ">
                            <div class="col-lg-2">
                                <input type="hidden" name="test" id="test"  value="">
                            </div>
                           
                            <div class="col-lg-8">
                                <!-- <div class="p-5"> -->
                                  <br/>
                                 <form  id="help_desk_form" action="{{ url_for('user.PostHelpDesk') }}" method="POST">
                                   
                               
                                        <div class="row">
                                       <div class="col-lg-12">
                                          <textarea class="form-control" id="feedback" name="feedback" rows="5" placeholder="Enter your queries / feedback here." required=""></textarea>
                                          
                                       </div>
                                    </div>

                                    <div class="text-center" style="margin-top: 5px;">

                                        <input type="hidden" name="encrypted_user_id" value="{{ encrypted_user_id }}">
                                       <input type="hidden" name="user_id" id="user_id"  value="{{ userdata.user_id|default('')}}">
                                        <input type="submit" value="Send Your Query" name="submit" id="feedback_submit" class="btn btn-primary btn-user">
                                        <a href="{{ url_for('user.Lobby_screen') }}?user_id={{encrypted_user_id}}" class="btn btn-primary">Go To Lobby</a>

                                    </div> 

                                     <input type="hidden" class="form-control-plaintext" name="full_name" value="{{ userdata.full_name|default('')}}" id="full_name" readonly>
                                     <input type="hidden" class="form-control-plaintext" name="mobile" value="{{ userdata.mobile|default('')}}" id="mobile" readonly>
                                     <input type="hidden" class="form-control-plaintext" name="email" value="{{ userdata.email|default('')}}" id="email" readonly>
                                     <input type="hidden" name="user_id" id="user_id"  value="{{ userdata.user_id|default('')}}">

                                        
                                        
                                    </form>
                                  
                                
                                   
                            </div>

                            <div class="col-lg-2">
                                <input type="hidden" name="tesst"  >
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
         
      </div>
   </body>
   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YLZ9FSNSJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5YLZ9FSNSJ');
    </script>
    <script  type= "text/javascript"  src="{{ ('/static/js/jquery.min.js')}}"></script>
    <script  type= "text/javascript"  src="{{ ('/static/js/jquery.validate.min.js')}}"></script>
    <script  type= "text/javascript"  src="{{ ('/static/js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        
            $("#feedback_submit").click(function() {

                validate_help_desk_form()
                $("#alert-success").hide()
                $("#alert-danger").hide()
            })
          
        })


        function validate_help_desk_form()
         {
         
             errorclass : 'error',
         
             $("#help_desk_form").validate({
                
                 rules : {
                     feedback : "required",
                 },
         
                
                 highlight: function(element) {
                     $(element).parent().addClass('error')
                 },
             
                 unhighlight: function(element) {
                     $(element).parent().removeClass('error')
                 },
         
                 submitHandler: function(form) {
                     form.submit();
                 }
             })
                
         }
    </script>


<script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 10000); 
</script>



 </html>