@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
*{margin: 0; padding: 0; border: 0;}
body{margin: 0px; padding: 0px; background: #039 url(../images/landing/background.jpg) top center no-repeat; background-size: cover; font-family: 'Barlow', sans-serif;
 color:#fff;}
.button{padding: 10px; color: #cc0000; font-size: 24px; background: #fff769; display: table; margin-top:100px; margin: 20px auto; border-radius: 10px; text-decoration: none; text-align: center;}

.button:hover{padding: 10px; color: #fff; font-size: 24px; background: #cc0000; display: table; margin-top:100px; margin: 20px auto; border-radius: 10px; text-decoration: none;}