.header
{
  background-color: #f6bd60;
}

.sub_header
{
  background-color: #f28482;
}

label
{
  color:#023047;
  font-weight: bold;
}

.jumbotron {
    background-color: #84a59d;
}


.jumbotron-fluid {
    opacity: 60%;
}

.hallbox{
    padding: 22px 18px 15px 22px;
    font-size: 30px;
    margin: 16px 17px 16px 12px;
    float: left;
    align-items: center;
    color: yellow;
    font-weight: bold;
    width: 100%;
    text-align: center;
}



.badge{
  position: relative;
  width: 216px;
  display: inline-block;
  margin: 40px;
  .title{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    position: absolute;
    top: -28px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    width: 100%;
    background: red;
    padding: 20px 0;
  }
  .subtitle{
    position: absolute;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 100px;
    &:after{
        content: "★ ★ ★";
        display: block;
        font-size: .4em;
        position: relative;
        margin: 15px 0 0;
        transition: all .3s;
      }
  }
  &:hover .subtitle:after{
      word-spacing: 30px; 
  }
}

@mixin setColor($color){
  .title{
      background: $color;
  }
  .subtitle:after{
      color: $color;
  }
}

.red{
  @include setColor(#DC514E);
}

.green{
  @include setColor(#2ecc71);
}

.gray{
  @include setColor(#95a5a6);
}

.yellow{
  @include setColor(#f1c40f);
}

.blue{
  @include setColor(#3498db);
}